.appDiv {
  background-color: #ffcccb
}
.carrossel {
  height:100%;
  margin: 0;
  width: 100%;
--corTema: #454545;
--corFundo: wheat;
background-color: var(--corFundo);
}
h1 {
color: var(--corTema);
text-align: center;
}
.imgSlide {
  width: 100%;
object-fit: cover;
  transition: background-image .3s ease-in-out;
}

.setaSlide {
color: var(--corTema);
cursor: pointer;
font-size: 30px;
position: fixed;
border: none;
background-color: var(--corFundo);
top: 70%;
}

.direita {
right: 20px;
}

.esquerda {
left: 20px;
}