.appContainer {
  min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
      "header"
      "content"
      "footer";
  background-color: #592C22;
  color: whitesmoke;
}
h2 {
  font-size: 45px;
}
button {
  transition-duration: 0.4s;
  border-radius: 12px;
}

button:hover {
  text-decoration: none;
  background-color: #3f260f;
  color: white;
  cursor: pointer;
}
/*********************************
            Drink nome
**********************************/
.drinkNome {
  font-size: 1.2rem;
  padding-bottom: 5px;
}
/*********************************
            CSS CARROSSEL
**********************************/
.carrossel {
  height:100%;
  margin: 0;
  width: 100%;
--corTema: #454545;
--corFundo: wheat;
background-color: var(--corFundo);
}
h1 {
color: var(--corTema);
text-align: center;
}
.imgSlide {
  width: 100%;
  height: 100%;
object-fit: cover;
  transition: background-image .3s ease-in-out;
}

.setaSlide {
color: var(--corTema);
cursor: pointer;
font-size: 50px;
position: absolute;
border: none;
background-color: whitesmoke;
top: 70%;
}

.direita {
right: 20px;
}

.esquerda {
left: 20px;
}