.appContainer {
  min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
      "header"
      "content"
      "footer";
  background-color: #592C22;
  color: whitesmoke;
}
h2 {
  font-size: 45px;
}
.carrossel {
  height:100%;
  margin: 0;
  width: 100%;
--corTema: #454545;
--corFundo: wheat;
background-color: var(--corFundo);
}
h1 {
color: var(--corTema);
text-align: center;
}
.imgSlide {
  width: 100%;
  height: 100%;
object-fit: cover;
  transition: background-image .3s ease-in-out;
}

.setaSlide {
color: var(--corTema);
cursor: pointer;
font-size: 30px;
position: fixed;
border: none;
background-color: var(--corFundo);
top: 70%;
}

.direita {
right: 20px;
}

.esquerda {
left: 20px;
}